.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
/* index.css */

/* 비활성화된 페이지의 스타일 */
/* 페이지네이션 커스텀 */
.page-link {
    background-color: #8e8e8e;
    border-color: #8e8e8e;
    color: white;
}
.page-link:hover {
    background-color: white;
    border-color: white;
    color: #8e8e8e;
}

/* 활성화된 페이지의 스타일 */

.page-item.active .page-link {
    color: white;
    background-color: #212529;
    border-color: #212529;
}

/* 댓글 모달버튼  */
.comment {
    margin-right: 15px;
    margin-top: -8px;
    font-size: 30px;
}
.comment button {
    color: #252129;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    height: 35px;
    border-radius: 15px;
    font-weight: bold;
}

/* 검색버튼 */
.search-btn {
    background-color: #d8d8d8;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #212529;
    font-weight: bold;
}

/* 캘린더 디자인 */
.react-calendar {
    width: 90% !important;
    border-radius: 10px;
    background-color: #a3cdf6 !important;
    color: #2d2e2f;
    border: 1px solid var(--festie-gray-400, #c8c8c8);
    /* // 전체 틀: border, border-radius 조정 */
}
/* 캘린더 상단 날짜 */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    border-radius: 50%;
    background-color: #ffffff !important;
}

.react-calendar__navigation__label > span {
    /* // 달력 상단 년/월 글씨 커스텀 */
    color: var(--festie-gray-800, #3a3a3a);
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
}
.react-calendar__navigation__label:hover {
    border-radius: 0 !important;
    background-color: #f8f8fa;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #ff0808;
    color: rgb(0, 0, 0) !important;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #ffffff !important;
    color: #1462b0;
    border-radius: 5px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
