.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
/* index.css */

/* 비활성화된 페이지의 스타일 */
/* 페이지네이션 커스텀 */
.page-link {
    background-color: #8e8e8e;
    border-color: #8e8e8e;
    color: white;
}
.page-link:hover {
    background-color: white;
    border-color: white;
    color: #8e8e8e;
}

/* 활성화된 페이지의 스타일 */

.page-item.active .page-link {
    color: white;
    background-color: #212529;
    border-color: #212529;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
